doctype html
html(lang='en')
	include /base/base
	body
		include /modules/preloader
		include /modules/logo-black
		include /modules/hamburger-black
		include /modules/menu-black

		#content
			include /modules/blog/header
			include /modules/blog/welcome

			include /modules/instagram
			include /modules/callback
			include /modules/footer

		include /base/scripts
