doctype html
html(lang='en')
	include /base/base
	body
		include /modules/preloader
		include /modules/logo-hidden
		include /modules/hamburger
		include /modules/menu

		#content
			include /modules/about/header
			include /modules/about/desc
			include /modules/about/designer

			include /modules/instagram
			include /modules/callback
			include /modules/footer

		include /base/scripts
