doctype html
html(lang='en')
	include /base/base
		title Contact | Amio
	body
		include /modules/preloader
		include /modules/logo-black
		include /modules/hamburger-black
		include /modules/menu-black

		#content
			include /modules/contact/header

		include /base/scripts
