doctype html
html(lang='en')
	include /base/base
	body
		include /modules/preloader
		include /modules/logo
		include /modules/hamburger
		include /modules/menu

		#content
			include /modules/home/header
			include /modules/home/promo-first
			include /modules/home/chic
			include /modules/home/promo-second
			include /modules/home/quote
			include /modules/home/slider

			include /modules/instagram
			include /modules/callback
			include /modules/footer

		include /base/scripts
