doctype html
html(lang='en')
	include /base/base
		title Lookbook | Amio
	body
		include /modules/preloader
		include /modules/logo
		include /modules/hamburger
		include /modules/menu

		#content
			include /modules/lookbook/header
			include /modules/lookbook/photos

			include /modules/instagram
			include /modules/callback
			include /modules/footer

		include /base/scripts
