doctype html
html(lang='en')
	include /base/base
		title Press | Amio
	body
		include /modules/preloader
		include /modules/logo
		include /modules/hamburger
		include /modules/menu

		#content
			include /modules/press/header
			include /modules/press/selection

			include /modules/instagram
			include /modules/callback
			include /modules/footer

		include /base/scripts
