.menu
	position: fixed
	top: 25px
	left: 45px
	z-index: 100
	transform-origin: bottom left
	transform: rotate(90deg)
	user-select: none
	ul
		display: flex
		flex-direction: row-reverse
	li
		transform: rotate(180deg)
		&:not(:first-child)
			margin-right: 15px
	a
		color: #222
		font-size: 10px
		letter-spacing: 2px
		text-transform: uppercase
	&_white
		a
			color: #fff
			transition: .4s

@media (max-width: 768px)
	.menu
		left: -100%
		z-index: 50
		top: auto
		transform-origin: 0 0
		transform: rotate(0deg)
		user-select: none
		width: 100%
		height: 100vh
		background: $accent
		display: flex
		align-items: center
		ul
			display: block
			margin: 0 0 0 80px
		li
			transform: rotate(0deg)
			&:not(:first-child)
				margin-right: 0px
			&:first-child
					padding-top: 100px
		a
			color: #fff
			font-size: 10px
			letter-spacing: 0px
			+font-m
			font-size: 45px
			text-transform: none
			line-height: 1.3
		&_white
			a
				color: #fff
