header.header
	.header__left
		.header__title
			h2 Timeless
			span sw/17
	.header__right.box(data-speed="10")
		.header__right_content
			img(src="img/home/header-right.jpg" alt="Amio")
			span Scroll to discover
