section.promo-second
	.promo-second__image-wrapper.box(data-speed="5" data-margin="180")
		img.promo-second__image(src="img/home/promo-second-image.jpg" alt="Amio")
	.promo-second__inner
		p.section-text.section-text_promo-second Where many  lines have their place in the sun, Amio transcends the beach and the pool. The pieces transition seamlessly as day or evening Ready-to-Wear, providing an innate versatility to your already established wardrobe. The quality of each piece allows you to wear Amio comfortably and stylishly from morning to après  and everything in between.
		.logo-letter_second-wrapper
			svg.logo-letter.logo-letter_second(viewBox="0 0 184.4 136.4")
				path(fill="#1E1E24" d="M46.6 0h45.6C110 32.2 128.1 64.4 146 96.5c3.9 6.9 7.6 13.9 11.8 20.8 3.1 4.7 6.6 9.7 12.6 12.8 4 2.1 9.1 2.8 14 3v3.3c-15 0-30 .1-45.1-.1-8.3-15.1-16.9-30.1-25.2-45.1-24.9-.1-49.8 0-74.7 0-8.3 15.1-16.7 30.2-25.1 45.2H0C22 97.1 44.1 57.9 66.1 18.6c1.2-2.5 2.7-5.1 2.6-7.8 0-2.4-2.4-4.4-5.4-5.4-5.2-1.8-11.1-1.9-16.8-2.1.1-1.1.1-2.2.1-3.3zm-2.3 83.1c21.8-.1 43.5-.1 65.3 0-11-19.4-21.7-38.9-32.6-58.4-11 19.4-21.8 38.9-32.7 58.4z")
