section.quote
	img.quote__bg(src="img/home/quote-bg.png" alt="Amio")
	ul.phrase.wow.slideInRight(data-wow-duration="1.2s" data-wow-delay="0s")
		li Natural
		li <span></span>beauty
		li is true
		li elegance,
		li <span></span>unrefined
	.quote__square.box(data-speed="-7" data-margin="-600")
