section.slider
	.slider__left
		.slider__left_inner
			.slider-counter
				span.slider-counter__number
				span.slider-counter__count
			.owl-carousel.owl-theme.left-slider
				.left-slider__image
					img(src="img/home/carousel/carousel-image-1.jpg" alt="Amio")
				.left-slider__image
					img(src="img/home/carousel/carousel-image-2.jpg" alt="Amio")
				.left-slider__image
					img(src="img/home/carousel/carousel-image-3.jpg" alt="Amio")
				.left-slider__image
					img(src="img/home/carousel/carousel-image-4.jpg" alt="Amio")
			.slider-nav
				button.slider-prev-btn.prev-btn prev
				button.slider-next-btn.next-btn next
	.slider__right
		.owl-carousel.owl-theme.right-slider
			.right-slider__image.right-slider__image_1
			.right-slider__image.right-slider__image_2
			.right-slider__image.right-slider__image_3
			.right-slider__image.right-slider__image_4
