header.contact-header
	.contact-header__contacts-wrapper
		.contact-header__contacts
			h4 Contact us
			.item
				a(href='/') INFO@Amio.COM
				span  GENERAL INQUIRIES
			.item
				a(href='/') SALES@Amio.COM
				span  WHOLESALE INQUIRIES
			.item
				a(href='/') SHOP@Amio.COM
				span  CUSTOMER SERVICE INQUIRIES
			.item
				a(href='/') PRESS@Amio.COM
				span  PRESS INQUIRIES

	.contact-background-wrapper
		.contact-background
			.contact-background__row
				.contact-background__item_1
				.contact-background__item_2
				.contact-background__item_3
			.contact-background__row
				.contact-background__item_4
				.contact-background__item_1
				.contact-background__item_2
			.contact-background__row
				.contact-background__item_3
				.contact-background__item_4
				.contact-background__item_1
			.contact-background__row
				.contact-background__item_2
				.contact-background__item_3
				.contact-background__item_4
			.contact-background__row
				.contact-background__item_1
				.contact-background__item_2
				.contact-background__item_3
			.contact-background__row
				.contact-background__item_4
				.contact-background__item_1
				.contact-background__item_2
			.contact-background__row
				.contact-background__item_3
				.contact-background__item_4
				.contact-background__item_1
