section.callback
	.success
		span thanks for signing up
	h3.callback__title Sign up for our newsletter to receive special offers, news, & events.
	form.form
		input.callback__form(type="email" name="E-mail" placeholder="Enter your email adress" required)
		button ok
