.about-designer
	img.about-designer__author(src='img/about/author.jpg' alt="Amio author")
	.about-designer__content

		.about-designer__title
			span About Designer
			p.about-designer__text.about-designer__text_1 Designer and founder, calls upon her upbringing as inspiration. She identifies as American and Lebanese in heritage, yet was raised between Paris, Boston and the West Coast. Samantha’s culturally rich background has allowed her the opportunity to travel extensively to exotic locales, exposing her to a constant array of cities, languages and lifestyles. This exposure, paired with her fascination for fashion and art, laid the foundation for her career in design.

		img.about-designer__image(src="img/about/about-designer-image.jpg" alt="Amio")
		p.about-designer__text.about-designer__text_2 Holding a degree in Studio Fine Arts & Literature, alongside a comprehensive education in Fashion Design, Samantha attributes her greatest muse to the traditional craftsmanship of haute couture and the Parisian sensibility of quality over quantity. Having spent some of the most formidable years of her childhood and early adult life in Paris, Samantha’s exposure to the intricate process and design aesthetic of the major Parisian Fashion houses led to her own vision of translating those same philosophies over to . From the sketching process, to sourcing some of the finest Italian fabrics, to the actual creation of the garment, Samantha saw wear as the perfect canvas to combine and explore her two greatest passions, bringing an artistic, fashion-forward concept to the active life-style of wear.
