.press-selection
	h4.press-selection__title A quick press selection
	.press-selection__content
		.press-selection__item
			img(src="img/press/coco-eco-magazine.gif" alt="Coco eco magazine")
		.press-selection__item
			img(src="img/press/california-style.gif" alt="California style")
		.press-selection__item
			img(src="img/press/l-officiel.gif" alt="Officiel")
		.press-selection__item
			img(src="img/press/instyle.gif" alt="Instyle")
		.press-selection__item
			img(src="img/press/us.gif" alt="Us")
		.press-selection__item
			img(src="img/press/goop.gif" alt="Goop")
		.press-selection__item
			img(src="img/press/healthy-travel.gif" alt="Healthy travel")
		.press-selection__item
			img(src="img/press/angeleno.gif" alt="Angeleno")
	button.btn.btn_dark Download our press clippings
