header.blog-header
	.blog-header__img
	.article.article_header
		h2.article__title.article__title_white Fashion Week to Festival: Emily Ratajkowski in AMIÒ
		p.article__text.article__text_light Fast forward to Coachella Weekend One, and one of our favorite and sexiest fashion icons, Emily Ratajkowski dorned the Dalì Bralette for her Day One attire. Pairing the luxury bikini with a layered gold necklace and body chain, the simplicity of the jewelry amplified the slate grey tone of the suit and her impeccable bronzed figure.
		button.btn Read article
