.blog-welcome
	.blog-welcome__img
	.article.article_welcome
		h2.blog-welcome__title.article__title Welcome to the New Amiò Blog
		p.article__text.article__text_dark Art, travel, wine, interior design, culture, the Golden State, the Parisian way of life... This visual habitat is about what inspires us as women, as entrepreneurs, as dynamic wives/daughters/mothers/girlfriends, and the female form in any form.
		button.btn Read article
