.lookbook-photos
	.lookbook-photos__item.lookbook-photos__item_1.box(data-speed="10")
		img.box(src="img/lookbook/lookbook-1.jpg" alt="Amio" data-speed="-2")
	.lookbook-photos__item.lookbook-photos__item_2.box(data-speed="15")
		img.box(src="img/lookbook/lookbook-2.jpg" alt="Amio" data-speed="-4")
	.lookbook-photos__item.lookbook-photos__item_3.box(data-speed="10")
		img.box(src="img/lookbook/lookbook-3.jpg" alt="Amio" data-speed="-3")
	.lookbook-photos__item.lookbook-photos__item_4.box(data-speed="10")
		img.box(src="img/lookbook/lookbook-4.jpg" alt="Amio" data-speed="-3")
	.lookbook-photos__item.lookbook-photos__item_5.box(data-speed="10")
		img.box(src="img/lookbook/lookbook-5.jpg" alt="Amio" data-speed="-3")
	.lookbook-photos__item.lookbook-photos__item_6.box(data-speed="10")
		img.box(src="img/lookbook/lookbook-6.jpg" alt="Amio" data-speed="-3")
